/*INDEX */
.main-head {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* MENUS */ 
.menu-head {
    background-color: blue;
}

.menu-head img {
    margin-left: auto;
    margin-right: auto;
    max-height: 750px;
    width: auto;
    background-color: green;
}

.menu-head span {
    background-color: red;
}