/*INDEX */
.main-head {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* MENUS */ 

.menu-head img {
    background-color: green;
}

.menu-head span {
    margin-left: 1em;
    background-color: red;
}