/*INDEX */
.main-head {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* MENUS */ 
.menu-head {
    margin-top: 8px;
    margin-bottom: 5px;
    & span {
        padding-left: 1.5em;
        margin-right: -1em;
        & i {
            font-size: 20px; 
            color: rgba(32, 30, 30, 0.925);
        }
    }
}