/* RESTAURANTS */
/*
.restaurants-thumbnails {
    background-color: white;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    &-thumbnail {
        border: 10px solid green;
        margin: auto;
        max-width: 350px;
        max-height: 230px;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}*/
.restaurants-thumbnails-thumbnail {
        width: 300px;
        height: 230px;
        background: white;
        box-shadow: 0px 0px 11px 5px rgba(155, 144, 144, 0.884);
        border-top-left-radius: $radius-thumbnails-restaurants;
        border-top-right-radius: $radius-thumbnails-restaurants;
        border-bottom-left-radius: $radius-thumbnails-restaurants;
        border-bottom-right-radius: $radius-thumbnails-restaurants;
        cursor: pointer;
        &:hover {
            box-shadow: 5px 5px 24px 6px rgba(147,86,220,0.62);
        }
        & a {
            text-decoration: none;
        }
        & img {
            object-fit: cover;
            width: 300px;
            height: 170px;
            border-top-left-radius: $radius-thumbnails-restaurants;
            border-top-right-radius: $radius-thumbnails-restaurants;
        }
        &--txt{
            color: black;
            padding-top: 0.4em;
            line-height: 1.3em;
            margin-left: 1em;
            margin-right: 6em;
        }
        &--name {
            font-weight: bold;
        }
        &--not-img {
            position: absolute;
        }
        & .logo {
            display: flex;
            align-items: center;
        }
        & .logo-two {
            position: relative;
            top: 15px;
            right: 16px;
        }
        &-img {
            position: relative;
        }
        &--new {
            position: absolute;
            right: 15px;
            top: 15px;
            background-color: $color-third;
            color: green;
            padding: 0.5em;
            font-weight: bold;
            border-radius: 3px;
        }
    }



/* STEPS */
.operation {
    &-steps-thumbnail {
    width: 280px;
    height: 27px;
    border-radius: 15px;
    padding: 1em;
    background-color: $color-fourth;
    z-index: 1;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:nth-child(2){
        margin: 1em 1em;
    }
    &__icon {
        color: grey;
        transition: all 0.2s ease-in-out;
    }
    &:hover > .operation-steps-thumbnail__icon {
        transition: all 0.2s ease-in-out;
        color: $color-primary;
    }
    &__logo {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: white;
        background-color: $color-primary;
        margin-right: 1em;
        margin-left: -25px;
    }
    & i {
        margin-right: 1em;
    }  
    &__txt {
        font-weight: bold;
    }
}}

/* MENUS */ 
.menu-menus-step {
    width: 378px;
    &__title {
    margin-left: 0.5em;
    }
    &-thubmnail {
    background-color: white;
    padding-left: 10px;
    margin: 0.5em auto;
    border-top-left-radius: $radius-thumbnails-restaurants;
    border-top-right-radius: $radius-thumbnails-restaurants;
    border-bottom-left-radius: $radius-thumbnails-restaurants;
    border-bottom-right-radius: $radius-thumbnails-restaurants;
    width: 93%;
    cursor: pointer;
    &_dish-name{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 3px;
        width: 240px;
    }
    &_dish-details{
        padding-bottom: 15px;
        font-size: small;
    }
    &_price {
        font-weight: bold;
        align-self: flex-end;
        flex: 1 1;
        text-align: right;
        padding-right: 20px;
        padding-bottom: 15px;
    }
    &:hover > &_toggle {
        width: 60px;
        /* a FAIRE ROTATE + MARCHE PAS*/
    }
    &_toggle {
        height: auto;
        padding: 0;
        width: 0px;
        border-radius: 0px 15px 15px 0px;
        background-color: $color-third;
        display: flex;
        order: 3;
        transition: all .5s;
        overflow: hidden;
        &:hover {
            width: 60px;
        }
        & i {
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
    }
}
}

