/* CAHIER DES CHARGES */
/* LE GRIS */
/* AUTRES COULEURS DE BLOCS */
/* BOUTONS */
/* AUTRES VAR */
/* loader */
html, body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, .title {
  font-family: "Shrikhand", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  color: white;
  border: none;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 50%, #ab5edc 75%, #9b59dc 100%);
  box-shadow: 5px 15px 25px -4px rgba(0, 0, 0, 0.6);
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 11px 17px 26px 0px rgba(0, 0, 0, 0.77);
}

.restaurants-pic {
  width: auto;
  height: auto;
}
.restaurants-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo-two {
  color: #9356DC;
  opacity: 0;
}

.logo {
  color: black;
  opacity: 1;
}
.logo:hover + .logo-two {
  transition: all 0.5s;
  opacity: 1;
}
.logo :hover {
  opacity: 0;
}

/*INDEX */
.main-head {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* MENUS */
.menu-head {
  margin-top: 8px;
  margin-bottom: 5px;
}
.menu-head span {
  padding-left: 1.5em;
  margin-right: -1em;
}
.menu-head span i {
  font-size: 20px;
  color: rgba(32, 30, 30, 0.925);
}

.main-footer {
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #252525f6;
  color: white;
}
.main-footer__title {
  padding-bottom: 0.5em;
}
.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer ul li {
  display: inline-block;
  line-height: 2em;
}
.main-footer ul li i {
  margin-right: 0.5em;
}
.main-footer a {
  text-decoration: none;
  color: white;
}

/* RESTAURANTS */
.restaurants-thumbnails-thumbnail {
  width: 300px;
  height: 230px;
  background: white;
  box-shadow: 0px 0px 11px 5px rgba(155, 144, 144, 0.884);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.restaurants-thumbnails-thumbnail:hover {
  box-shadow: 5px 5px 24px 6px rgba(147, 86, 220, 0.62);
}
.restaurants-thumbnails-thumbnail a {
  text-decoration: none;
}
.restaurants-thumbnails-thumbnail img {
  object-fit: cover;
  width: 300px;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants-thumbnails-thumbnail--txt {
  color: black;
  padding-top: 0.4em;
  line-height: 1.3em;
  margin-left: 1em;
  margin-right: 6em;
}
.restaurants-thumbnails-thumbnail--name {
  font-weight: bold;
}
.restaurants-thumbnails-thumbnail--not-img {
  position: absolute;
}
.restaurants-thumbnails-thumbnail .logo {
  display: flex;
  align-items: center;
}
.restaurants-thumbnails-thumbnail .logo-two {
  position: relative;
  top: 15px;
  right: 16px;
}
.restaurants-thumbnails-thumbnail-img {
  position: relative;
}
.restaurants-thumbnails-thumbnail--new {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99E2D0;
  color: green;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 3px;
}

/* STEPS */
.operation-steps-thumbnail {
  width: 280px;
  height: 27px;
  border-radius: 15px;
  padding: 1em;
  background-color: #f9f9f9;
  z-index: 1;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.4);
}
.operation-steps-thumbnail:nth-child(2) {
  margin: 1em 1em;
}
.operation-steps-thumbnail__icon {
  color: grey;
  transition: all 0.2s ease-in-out;
}
.operation-steps-thumbnail:hover > .operation-steps-thumbnail__icon {
  transition: all 0.2s ease-in-out;
  color: #9356DC;
}
.operation-steps-thumbnail__logo {
  order: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  margin-right: 1em;
  margin-left: -25px;
}
.operation-steps-thumbnail i {
  margin-right: 1em;
}
.operation-steps-thumbnail__txt {
  font-weight: bold;
}
.operation-steps-thumbnail:hover {
  transform: scale(1.1);
}

/* MENUS */
.menu-menus-step {
  width: 378px;
}
.menu-menus-step__title {
  margin-left: 0.5em;
}
.menu-menus-step-thubmnail {
  background-color: white;
  padding-left: 10px;
  margin: 0.5em auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 93%;
  cursor: pointer;
}
.menu-menus-step-thubmnail_dish-name {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 3px;
  width: 240px;
}
.menu-menus-step-thubmnail_dish-details {
  padding-bottom: 15px;
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 246px;
}
.menu-menus-step-thubmnail_price {
  font-weight: bold;
  align-self: flex-end;
  flex: 1 1;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 15px;
}
.menu-menus-step-thubmnail:hover > .menu-menus-step-thubmnail_toggle {
  width: 60px;
}
.menu-menus-step-thubmnail:hover .menu-menus-step-thubmnail_toggle-icon {
  transform: rotate(180deg);
}
.menu-menus-step-thubmnail_toggle {
  height: auto;
  padding: 0;
  width: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  display: flex;
  order: 3;
  transition: all 0.5s;
  overflow: hidden;
}
.menu-menus-step-thubmnail_toggle:hover {
  width: 60px;
}
.menu-menus-step-thubmnail_toggle i {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/* GPS*/
.gps {
  background-color: #d8d8d8;
}
.gps-gps:nth-child(1) {
  font-weight: bold;
  margin: 1em;
  color: grey;
}
.gps-gps:nth-child(1) div:nth-child(2) {
  margin-left: 1em;
}
.gps-explore {
  background-color: #f9f9f9;
}
.gps-explore > div {
  color: #575454;
  font-size: 20px;
  padding-bottom: 20px;
}
.gps-explore h1 {
  width: 70%;
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
}
.gps-explore h1, .gps-explore div {
  text-align: center;
}
.gps-explore button {
  margin-top: 1em;
  margin-bottom: 3em;
}

/*FONCTIONNEMENT*/
.operation h2 {
  margin-left: 1.5em;
}

/* RESTAURANTS */
#restaurants {
  background-color: #f9f9f9;
  padding-top: 1em;
  margin-top: 3em;
}
#restaurants h2 {
  display: inline-block;
  margin-left: 2em;
}

.restaurants-thumbnails {
  margin: auto;
  width: 90%;
  height: auto;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2.1em;
}

/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */
@media (min-width: 1415px) {
  .container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  .operation h2 {
    display: flex;
    justify-content: center;
  }

  .load {
    bottom: -200px;
  }
}
/* PAD */
@media (min-width: 706px) and (max-width: 1414px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* MOBILE */
@media (max-width: 705px) {
  .operation-steps {
    flex-direction: column;
    align-items: center;
  }
}
/* laoding page */
/* https://thecodeplayer.com/walkthrough/pure-css-cheeseburger */
.load {
  animation-fill-mode: forwards;
  animation-duration: 3.5s;
  animation-name: loading;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: black;
  z-index: 10001;
  opacity: 0.99;
}

@keyframes loading {
  100% {
    visibility: hidden;
    display: none;
  }
}
.burger {
  width: 250px;
  margin: auto;
}
.burger-txt {
  color: #9356DC;
  text-align: center;
  margin-top: 1em;
  animation-fill-mode: forwards;
  position: relative;
  animation-name: txt;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 0.75s;
}
.burger-bun-top {
  height: 100px;
  border-radius: 125px 125px 125px 125px/75px 75px 25px 25px;
  background: #de9632;
  animation-fill-mode: forwards;
  position: relative;
  animation-name: top;
  animation-duration: 3s;
  z-index: 4;
}
.burger-cheese {
  left: 20px;
  height: 200px;
  width: 200px;
  background: yellow;
  transform: scale(1, 0.3) rotate(45deg);
  animation-fill-mode: forwards;
  position: relative;
  animation-name: cheese;
  animation-duration: 3s;
  z-index: 3;
}
.burger-steak {
  height: 75px;
  border-radius: 125px 125px 125px 125px/25px 25px 25px 25px;
  background: #732626;
  animation-fill-mode: forwards;
  position: relative;
  animation-name: steak;
  animation-duration: 3s;
  z-index: 2;
}
.burger-bun-bottom {
  background: #de9632;
  height: 75px;
  border-radius: 125px 125px 125px 125px/25px 25px 35px 35px;
  animation: bottom;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes steak {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
@keyframes cheese {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
@keyframes top {
  from {
    top: 0px;
  }
  to {
    top: 290px;
  }
}
@keyframes txt {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurants-pic {
  width: 100%;
}
.restaurants-pic img {
  z-index: -1;
  position: relative;
  max-height: 700px;
  object-fit: cover;
}

.menu {
  padding-top: 1em;
  background-color: #d8d8d8;
  margin-top: -4em;
  padding-bottom: 4em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu-title {
  padding-top: 10px;
  font-size: 1.8em;
  justify-content: space-around;
}
.menu-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2em;
  width: 98%;
}
.menu-menus-step {
  align-self: center;
  max-width: 550px;
  margin-top: 20px;
}
.menu-menus-step-thubmnail {
  margin-bottom: 20px;
}
.menu button {
  align-self: center;
  width: 200px;
}

.underligne {
  margin-top: 4px;
  width: 40px;
  border-bottom: 4px solid #99E2D0;
  margin-bottom: 15px;
}

/* EFFET APPARITION PROGRESSIVE */
@media (max-width: 771px) {
  .menu-menus-step {
    opacity: 0;
    animation-duration: 1s;
    animation-name: appear;
    animation-fill-mode: forwards;
  }
  .menu-menus-step:nth-of-type(1) {
    animation-delay: 0.1s;
  }
  .menu-menus-step:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .menu-menus-step:nth-of-type(3) {
    animation-delay: 1s;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      margin-bottom: 100%;
    }
    50% {
      opacity: 0.5;
      margin-bottom: 50%;
    }
    100% {
      opacity: 1;
      margin-bottom: 0%;
    }
  }
}
@media (min-width: 772px) and (max-width: 1414px) {
  .menu-menus-step {
    opacity: 0;
    animation-duration: 2s;
    animation-name: magic;
    animation-fill-mode: forwards;
  }
  .menu-menus-step:nth-of-type(1) {
    animation-delay: 0.1s;
  }
  .menu-menus-step:nth-of-type(2) {
    animation-delay: 1s;
  }
  .menu-menus-step:nth-of-type(3) {
    animation-delay: 0.5s;
  }

  @keyframes magic {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 1415px) {
  .menu-menus-step {
    opacity: 0;
    animation-duration: 2s;
    animation-name: magic;
    animation-fill-mode: forwards;
  }
  .menu-menus-step:nth-of-type(1) {
    animation-delay: 0.1s;
  }
  .menu-menus-step:nth-of-type(2) {
    animation-delay: 0.5s;
  }
  .menu-menus-step:nth-of-type(3) {
    animation-delay: 1s;
  }

  @keyframes magic {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=style.css.map */
