html, body {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, .title {
  font-family: "Shrikhand", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  color: white;
  border: none;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 50%, #ab5edc 75%, #9b59dc 100%);
}
.btn:hover {
  background-color: linear-gradient(173deg, #ff79da 0%, #d66cdb 50%, #ab5edc 75%, #9b59de 100%);
}

.restaurants-pic {
  width: auto;
  height: auto;
}
.restaurants-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*INDEX */
.main-head {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* MENUS */
.menu-head span {
  margin-left: 1em;
  margin-right: -1em;
}

.main-footer {
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #252525f6;
  color: white;
}
.main-footer__title {
  padding-bottom: 0.5em;
}
.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer ul li {
  display: inline-block;
  line-height: 2em;
}
.main-footer ul li i {
  margin-right: 0.5em;
}
.main-footer a {
  text-decoration: none;
  color: white;
}

/* RESTAURANTS */
/*
.restaurants-thumbnails {
    background-color: white;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    &-thumbnail {
        border: 10px solid green;
        margin: auto;
        max-width: 350px;
        max-height: 230px;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}*/
.restaurants-thumbnails-thumbnail {
  width: 300px;
  height: 230px;
  background: white;
  box-shadow: 0px 0px 11px 5px rgba(155, 144, 144, 0.884);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.restaurants-thumbnails-thumbnail a {
  text-decoration: none;
}
.restaurants-thumbnails-thumbnail img {
  object-fit: cover;
  width: 300px;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants-thumbnails-thumbnail--txt {
  color: black;
  padding-top: 0.4em;
  line-height: 1.3em;
  margin-left: 1em;
  margin-right: 6em;
}
.restaurants-thumbnails-thumbnail--name {
  font-weight: bold;
}
.restaurants-thumbnails-thumbnail .logo {
  display: flex;
  align-items: center;
}
.restaurants-thumbnails-thumbnail .logo > i {
  color: black;
}
.restaurants-thumbnails-thumbnail .logo > i:hover {
  color: #9356DC;
}
.restaurants-thumbnails-thumbnail-img {
  position: relative;
}
.restaurants-thumbnails-thumbnail--new {
  position: absolute;
  right: 4em;
  top: 1px;
  background-color: #99E2D0;
  color: green;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 3px;
}

/* STEPS */
.operation-steps-thumbnail {
  width: 280px;
  height: 27px;
  border-radius: 15px;
  padding: 1em;
  background-color: #eae8eb;
  z-index: 1;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.operation-steps-thumbnail:nth-child(2) {
  margin: 1em 1em;
}
.operation-steps-thumbnail:hover > .operation-steps-thumbnail__icon {
  transition: all 0.1s ease-in-out;
  color: #9356DC;
}
.operation-steps-thumbnail__logo {
  order: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  margin-right: 1em;
  margin-left: -25px;
}
.operation-steps-thumbnail i {
  margin-right: 1em;
}
.operation-steps-thumbnail__txt {
  font-weight: bold;
}
.operation-steps-thumbnail__icon {
  color: grey;
  transition: all 0.4s ease-in-out;
}
.operation-steps-thumbnail__icon:hover {
  transition: all 0.4s ease-in-out;
  color: #9356DC;
}

/* MENUS */
.menu-menus-step {
  width: 378px;
}
.menu-menus-step__title {
  margin-left: 0.5em;
}
.menu-menus-step-thubmnail {
  background-color: white;
  padding-left: 0.25em;
  margin: 0.5em auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 93%;
}
.menu-menus-step-thubmnail_dish-name {
  padding-top: 0.5em;
}
.menu-menus-step-thubmnail_dish-details {
  padding-bottom: 0.5em;
}
.menu-menus-step-thubmnail_price {
  align-self: flex-end;
  padding-bottom: 0.5em;
  flex: 1 1;
  text-align: right;
  padding-right: 10px;
}
.menu-menus-step-thubmnail_toggle {
  height: auto;
  padding: 0;
  margin: -1px;
  width: 40px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  display: flex;
  order: 3;
  transition: all 0.5s;
  overflow: hidden;
}
.menu-menus-step-thubmnail_toggle i {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.menu-menus-step-thubmnail:hover + .menu-menus-step-thubmnail_toggle {
  transform: scale(2 1);
  background-color: brown;
}

.toggle-icon {
  color: white;
  /* a faire rotate*/
}

/* GPS*/
.gps {
  background-color: rgba(156, 133, 176, 0.76);
}
.gps-gps:nth-child(1) {
  font-weight: bold;
  margin: 1em;
  color: grey;
}
.gps-gps:nth-child(1) div:nth-child(2) {
  margin-left: 1em;
}
.gps-explore {
  background-color: rgba(206, 195, 216, 0.76);
}
.gps-explore > div {
  color: #575454;
}
.gps-explore h1, .gps-explore div {
  width: 80%;
  text-align: center;
}
.gps-explore button {
  margin-top: 1em;
  margin-bottom: 3em;
}

/*FONCTIONNEMENT*/
.operation h2 {
  margin-left: 1.5em;
}

/* RESTAURANTS */
#restaurants {
  background-color: #eae8eb;
  padding-top: 1em;
  margin-top: 3em;
}
#restaurants h2 {
  display: inline-block;
  margin-left: 2em;
}

.restaurants-thumbnails {
  margin: auto;
  width: 90%;
  height: auto;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2.1em;
}

/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */
@media (min-width: 1415px) {
  .container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  .operation h2 {
    display: flex;
    justify-content: center;
  }
}
/* PAD */
@media (min-width: 706px) and (max-width: 1414px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* MOBILE */
@media (max-width: 705px) {
  .operation-steps {
    flex-direction: column;
    align-items: center;
  }
}
/* laoding page */
/* https://thecodeplayer.com/walkthrough/pure-css-cheeseburger */
.burger {
  width: 250px;
}

.bun-top {
  height: 100px;
  border-radius: 125px 125px 125px 125px/75px 75px 25px 25px;
  background: #dd8c3c;
}

.cheese {
  height: 200px;
  width: 200px;
  background: #ff0;
  transform: scale(0.7, 0.3) rotate(-45deg);
}

.steak {
  height: 75px;
  border-radius: 125px 125px 125px 125px/25px 25px 25px 25px;
  background: #732626;
}

.bun-bottom {
  background: #dd8c3c;
  height: 75px;
  border-radius: 125px 125px 125px 125px/25px 25px 35px 35px;
}

.restaurants-pic img {
  z-index: -1;
  position: relative;
  max-height: 700px;
  object-fit: cover;
}

.menu {
  padding-top: 1em;
  background-color: rgba(206, 195, 216, 0.76);
  margin-top: -4em;
  padding-bottom: 4em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu-title {
  font-size: 1.8em;
  justify-content: space-around;
}
.menu-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2em;
  width: 98%;
}
.menu-menus-step {
  align-self: center;
  max-width: 550px;
}
.menu button {
  align-self: center;
  width: 200px;
}

.underligne {
  margin-top: 4px;
  width: 40px;
  border-bottom: 4px solid #99E2D0;
}

/* EFFET APPARITION PROGRESSIVE */
.menu-menus-step {
  opacity: 0;
  animation-duration: 2s;
  animation-name: appear;
  animation-fill-mode: forwards;
}
.menu-menus-step:nth-of-type(1) {
  animation-delay: 0.1s;
}
.menu-menus-step:nth-of-type(2) {
  animation-delay: 0.5s;
}
.menu-menus-step:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
    margin-bottom: 100%;
  }
  50% {
    opacity: 0.5;
    margin-bottom: 50%;
  }
  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
