body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, .title {
  font-family: "Shrikhand", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 5px 5px lightgrey;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  color: white;
}
.btn--gradient {
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
  /*-z-index: 1;
  position: relative;
  &:hover {
      &::after{
          opacity: 1;
      }
  }
  &::after {
      content: "";
      opacity: 0;
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      background-color: $color-sixth;
  }*/
}

.restaurants-pic {
  width: auto;
  height: auto;
}
.restaurants-pic img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*INDEX */
.main-head {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* MENUS */
.menu-head img {
  background-color: green;
}

.menu-head span {
  margin-left: 1em;
  background-color: red;
}

.main-footer {
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #252525f6;
  color: white;
}
.main-footer__title {
  padding-bottom: 0.5em;
}
.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer ul li {
  display: inline-block;
}
.main-footer ul li i {
  margin-right: 0.5em;
}

/* RESTAURANTS */
/*
.restaurants-thumbnails {
    background-color: white;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    &-thumbnail {
        border: 10px solid green;
        margin: auto;
        max-width: 350px;
        max-height: 230px;
        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}*/
.restaurants-thumbnails-thumbnail {
  width: 300px;
  height: 240px;
  background: white;
  box-shadow: 0px 0px 11px 5px rgba(155, 144, 144, 0.884);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.restaurants-thumbnails-thumbnail img {
  object-fit: cover;
  width: 300px;
  height: 170px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants-thumbnails-thumbnail--txt {
  margin-left: 1em;
  margin-right: 6em;
}
.restaurants-thumbnails-thumbnail--name {
  font-weight: bold;
}
.restaurants-thumbnails-thumbnail .logo {
  display: flex;
  align-items: center;
}

/* STEPS */
.operation-steps-thumbnail {
  width: 280px;
  height: 27px;
  border-radius: 15px;
  padding: 1em;
  background-color: #eae8eb;
  z-index: 1;
  position: relative;
  /*
  &__txt {
      cursor: pointer;*/
}
.operation-steps-thumbnail:nth-child(2) {
  margin: 1em 1em;
}
.operation-steps-thumbnail:hover::after {
  opacity: 1;
}
.operation-steps-thumbnail::after {
  content: "";
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(206, 195, 216, 0.76);
}
.operation-steps-thumbnail__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  margin-right: 1em;
  margin-left: -25px;
}

/* MENUS */
.menu-menus-step {
  width: 378px;
}
.menu-menus-step__title {
  margin-left: 0.5em;
}
.menu-menus-step-thubmnail {
  background-color: white;
  border: 1px solid black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  margin: 0.5em auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 93%;
}
.menu-menus-step-thubmnail_price {
  align-self: flex-end;
  margin-right: 1em;
}

/* GPS*/
.gps {
  background-color: rgba(156, 133, 176, 0.76);
}
.gps-explore {
  background-color: rgba(206, 195, 216, 0.76);
}
.gps-explore h1, .gps-explore div {
  width: 80%;
  text-align: center;
}
.gps-explore button {
  margin-top: 1em;
  margin-bottom: 3em;
}

/*FONCTIONNEMENT*/
.operation h2 {
  margin-left: 1.5em;
}

/* RESTAURANTS */
#restaurants {
  background-color: #eae8eb;
  padding-top: 1em;
  margin-top: 3em;
}
#restaurants h2 {
  display: inline-block;
  margin-left: 2em;
}

.restaurants-thumbnails {
  margin: auto;
  width: 90%;
  height: auto;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2.1em;
}

/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */
@media (min-width: 1415px) {
  .container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  .operation h2 {
    display: flex;
    justify-content: center;
  }
}
/* PAD */
@media (min-width: 706px) and (max-width: 1414px) {
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* MOBILE */
@media (max-width: 705px) {
  .container {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .operation-steps {
    flex-direction: column;
    align-items: center;
  }
}
.container {
  border: 1px solid red;
}

.restaurants-pic img {
  z-index: -1;
  position: relative;
  max-height: 700px;
  object-fit: cover;
}

.menu {
  padding-top: 1em;
  background-color: rgba(206, 195, 216, 0.76);
  margin-top: -4em;
  padding-bottom: 4em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.menu-title {
  font-size: 1.8em;
  justify-content: space-around;
}
.menu-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 2em;
  width: 98%;
}
.menu-menus-step {
  align-self: center;
  max-width: 550px;
}
.menu-menus-step__title {
  border-bottom: 4px solid #2edddd;
}
.menu button {
  align-self: center;
  width: 200px;
}

/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */
/* DESKTOP */
/* PAD */
/* MOBILE */

/*# sourceMappingURL=style.css.map */
