body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, .title {
    font-family: 'Shrikhand', sans-serif;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}
