body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.7;
}

h1, h2 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

button {
    color: $color-primary;
}