/* GPS*/
.gps {
    background-color: $color-sixth;
    &-explore{
        background-color: $color-fifth;
    & h1, & div {
        width: 80%;
        text-align: center;
    }
    & button {
        margin-top: 1em;
        margin-bottom: 3em;
    }

    }
}

/*FONCTIONNEMENT*/ 
.operation h2 {
    margin-left: 1.5em;
}


/* RESTAURANTS */
#restaurants {
    background-color: $color-fourth;
    padding-top: 1em;
    margin-top: 3em;
    & h2 {
        display: inline-block;
        margin-left: 2em;
    }
}

.restaurants-thumbnails {
    margin: auto;
    width: 90%;
    height: auto;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 2.1em;
}




/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */ 
@media (min-width: 1415px){
    .container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    }
    .operation h2 { // A LAISSER DANS CETTE PAGE
        display: flex;
        justify-content: center;
    }
}

/* PAD */
@media (min-width:706px) and (max-width: 1414px){
    .container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        }
}


 /* MOBILE */
 @media (max-width: 705px){
    .container {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        }
    
    .operation-steps { // A LAISSER DANS CETTE PAGE
        flex-direction: column;
        align-items: center;
    }
}