.container {
    border: 1px solid red;
}

.restaurants-pic img {
        max-height: 700px; 
        object-fit: cover;
}

.menu {
    background-color: $color-fifth;
    margin-top: -1em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    &-menus-step {
    border: 1px solid black;
    max-width: 550px;
    }
    &__title {
        border-bottom: 4px solid rgb(46, 221, 221);
    }
}




/* mediaquery A EXPORTER SAUF :*/
/* DESKTOP */ 
/* DESKTOP */ 
@media (min-width: 1415px){

}

/* PAD */
@media (min-width:706px) and (max-width: 1414px){

}


 /* MOBILE */
 @media (max-width: 705px){

}