$breakpoints: (
    desktop: "(min-width: 1024px)",
    pad: "(max-width: 1023px) and (min-width: 740px)",
    mobile: "(max-width: 480px)"
);

/*@mixin desktop-only {
      @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
      }
}
*/

