$color-primary: #9356DC;
$color-primary-lighten: lighten($color-primary);
$color-secondary: #FF79DA;
$color-secondary-lighten: lighten($color-secondary);

$color-third: #99E2D0;
$color-fourth: rgb(234, 232, 235);
$color-fifth: rgba(206, 195, 216, 0.76); 
$color-sixth: darken($color-fifth, 20%);

$color-dark: #252525f6;

$radius-thumbnails-restaurants: 15px;